body {
  background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44); 
background: linear-gradient(to right, #4286f4, #373B44); 

  );
}
.heading {
  
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;

}
.paragraph {
 
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}
.image1 {
  width: 50em;
  height: 30em;
}
.image2 {
  width: 500px;
  height: 300px;
  float: right;
  flex-wrap: wrap;
  border-radius: 3em;
}
