body {
  background-color: #40513B;
}
.heading {
  color :#EDF1D6;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;

}
.paragraph {
  color: #b7e4a0;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}
.image1 {
  width: 50em;
  height: 30em;
}
.image2 {
  width: 500px;
  height: 300px;
  float: right;
  flex-wrap: wrap;
  border-radius: 3em;
}
